@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Playfair+Display&display=swap');

/* <------------------------ Global Styles ------------------------> */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  color: #222222;
}

.container {
  display: grid;
  grid-template-columns: 1fr 8fr;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0)), url(/src/assets/studybg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
}


/* <------------------------ Side Navbar Section ------------------------> */

.sidebar {
  padding: 20px;
  width: 15em;
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
  background: rgba(255, 255, 255, 0);
  border-radius: 16px;
  -webkit-backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.51);

}

.sidebar * {
  color: #ffffff;
}

.sidebar__title {
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: .5em;

}

.sidebar__menu,
.sidebar__tags,
.sidebar__status {
  list-style: none;
  padding: 0;
  margin-bottom: .5em;
}

.sidebar__menu-item,
.sidebar__status-item {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 0.5em;
  color: #ffffff;
  transition: background-color 0.3s;
}

.sidebar__menu-item:hover,
.sidebar__status-item:hover {
  background-color: #e0e0e0;
}

.sidebar__menu-item i,
.sidebar__status-item i {
  margin-right: 10px;
}

.sidebar__separator {
  height: 3px;
  color: #ffffff;
  margin: 1.5em 0;
}

.tag {
  display: inline-block;
  background-color: #f0f0f090;
  padding: 0.5em;
  margin: 0.3em;
  border-radius: 5px;
  color: #333;
}

/* <------------------------ Main 3 Columns ------------------------> */

#tasks-view {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1em;
  padding: 1em;
  width: 100%;
  height: 100%;
  /* border: 2px red solid; */
}

.main__column {
  background-color: transparent;
  padding: 1em;
  overflow-y: auto;
  border: 2px solid rgba(255, 255, 255, 0.51);
  border-radius: 16px;
}

.main__column-title {
  margin-bottom: 0.5em;
}

h3 {
  display: flex;
  justify-content: space-between;
}

.main__column-title__text {
  padding: 0.3em;
  border-radius: 5px;
}

.main__column-title__text--todo {
  background-color: rgba(0, 150, 0, 1);
}

.main__column-title__text--inprogress {
  background-color: rgba(247, 216, 150, 1);
}

.main__column-title__text--completed {
  background-color: rgba(108, 184, 255, 1);
}

.main__column-title__taskcount {
  background-color: transparent;
}

body>div>main>section.main__column>h3>span {
  opacity: 1;
  font-weight: 900;
}

/* Strike through on complete items */
.strikethrough {
  text-decoration: line-through;
}

button.main__column-title__button {
  background-color: #5a9;
  color: #fff;
  font-size: 18px;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s;
}

button.main__column-title__button:hover {
  background-color: #7ab;
}

/* <------------------------ Task Cards/Containers ------------------------> */
.task__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: auto;
  overflow: hidden;
  padding: 10px;
  margin-bottom: 0.5em;
  position: relative;
  background: rgba(255, 255, 255, .5);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
}

.task__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.3em;
}

.task__title {
  font-size: 1rem;
  font-weight: 600;
}

.task__priority {
  position: absolute;
  top: 3px;
  right: 5em;
  font-size: 0.8rem;
  font-weight: 600;
  color: #ff2d2d;
}

.task__description {
  font-size: 0.9rem;
  height: auto;
  width: auto;
  margin-bottom: 0.3em;
  /* border: 2px red solid; */
}

.task__checkbox-icon {
  position: absolute;
  bottom: 3px;
  right: 5px;
  font-size: 1.5rem;
  cursor: pointer;
  color: #000000;
  display: none;
}

.task__checkbox-icon.checked {
  color: green;
}

.task__delete-icon {
  position: absolute;
  top: 3px;
  right: 5px;
  cursor: pointer;
  display: none;
  font-size: 1.2rem;
}

.task__container:hover .task__delete-icon,
.task__container:hover .task__checkbox-icon {
  display: block;
}

.task__footer {
  display: flex;
  justify-content: flex-end;
}

.task__tags {
  font-size: 0.75rem;
  word-spacing: 4px;
  padding-right: 2em;
}

.task__due-date {
  font-size: 0.75rem;
  color: #000000;
  word-spacing: -1px;
  position: absolute;
  bottom: 6px;
  left: 8px;
}

/* Urgent task style */
[data-priority="Urgent"] {
  border: 2px solid red;
}

/* High priority task style */
[data-priority="High"] {
  border: 2px solid orange;
}

/* Low priority task style */
[data-priority="Low"] {
  border: 2px solid green;
}

/* Completed task style */
.task__container--completed,
[data-priority="Completed"],
.task__container[data-completed="true"] {
  border: 2px solid blue !important;
}

/* <------------------------ Sort and Drag n Drop  ------------------------> */
.sortable-ghost {
  opacity: 0.4;
}

.sortable-chosen {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
}

.sortable-drag {
  cursor: move;
}

/* <--------------------- Trash Details Section ---------------------> */
.trash-popup {
  display: none;
  text-align: center;
  height: 85%;
  width: 35%;
  position: fixed;
  overflow: auto;
  top: 50%;
  left: 50%;
  padding: 2em;
  transform: translate(-50%, -50%);
  background: rgb(255, 255, 255);
  box-shadow: 0 0 40px rgba(172, 177, 179, 1);
  border-radius: 10px;
}

.trash-popup__title {
  font-size: 2rem;
  margin-bottom: 1em;
}

/* <--------------------- Additional Details Section ---------------------> */
.offcanvas {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 45%;

  background-color: #ffffff;
  border: 2px grey solid;
  transform: translateX(100%);
  transition: transform 0.3s ease;
}

.offcanvas__body {
  padding: 16px;
}

.offcanvas__close-btn {
  position: absolute;
  top: 8px;
  left: 10px;
  background-color: transparent;
  border: none;
  font-size: 24px;
  color: #000000;
  cursor: pointer;
}

.project-form {
  display: flex;
  flex-direction: column;
}

.project-form__title {
  margin: 0 auto 1em auto;
  font-size: 2rem;
  width: 90%;
  text-align: center;
  outline: none;
}

.project-form__title:focus {
  box-shadow: 0 0 5px 2px rgba(0, 128, 255, 0.5);
}

.input-group {
  display: grid;
  grid-template-columns: 1fr 10fr;
  margin-bottom: 2rem;
}

.input-group__label {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  background-color: #e7e7e7;
  width: 4.5em;
  height: 2em;
  border-radius: 4px 0 0 4px;
}

input.form-control {
  border-radius: 0 4px 4px 0;
}

.form-select {
  padding: 0.5em;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 0 4px 4px 0;
  background-color: transparent;
}

.form-select:focus {
  box-shadow: 0 0 5px 2px rgba(0, 128, 255, 0.5);
  outline: none;
}

.form-control {
  height: 2em;
  width: 100%;
  font-size: 1.2rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding-left: 0.2em;
}

.form-control:focus {
  box-shadow: 0 0 5px 2px rgba(0, 128, 255, 0.5);
  outline: none;
}

.form-control::placeholder {
  font-size: 1rem;
  padding-left: 0.2em;
}

.project-form__floating {
  position: relative;
}

.project-form__floating textarea {
  min-height: 25em;
}

.project-form__floating label {
  position: absolute;
  top: 8px;
  left: 8px;
  font-size: 14px;
  font-weight: bold;
  color: #999;
}

.project-form__floating--actions {
  display: flex;
  justify-content: center;
}

.project-form__btn-save {
  margin-top: 1.5em;
  padding: 8px 16px;
  font-size: 1rem;
  border-radius: 4px;
  background-color: #007bff;
  color: #ffffff;
  border: none;
}

.project-form__btn-save:hover {
  background-color: #0056b3;
}

/* <------------------------ Calender View ------------------------> */
#task-calendar-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  border: 2px red solid;
}

#calendar-view {
  display: none;
  border: 2px red solid;
  width: 100%;
}

/* Show the calendar view when the 'calendar-visible' class is added to the main element */
.main.calendar-visible #calendar-view {
  display: block;
}

/* Hide the task columns when the 'calendar-visible' class is added to the main element */
.main.calendar-visible .main__column {
  display: none;
}

/* <--------------------- Overlay Effects ---------------------> */
.popup-active .backdrop-overlay {
  display: block;
}

.backdrop-overlay {
  position: fixed;
  opacity: 0.5;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  display: none;
}

.trash-popup {
  z-index: 2;
}

.offcanvas {
  z-index: 2;
}