/* <------------------------ Global Styles ------------------------> */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f4f5f7;
}

.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  height: 100vh;
}

/* <------------------------ Side Navbar Section ------------------------> */
.sidebar {
  background-color: #ffffff;
  padding: 0.5em;
  height: 100%;
}

.sidebar__title {
  margin-bottom: 0.5em;
}

.sidebar__menu,
.sidebar__tags,
.sidebar__status {
  list-style-type: none;
  margin-bottom: 0.5em;
}

.sidebar__menu-item,
.sidebar__status-item {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.sidebar__separator {
  border: none;
  border-top: 1px solid #e1e4e8;
  margin: 1em;
}

/* <------------------------ Add Task Forms ------------------------> */

.resource-form-wrapper {
  /* display: none; */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20%;
  padding: 1em;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.resource-form-wrapper label,
.resource-form-wrapper input,
.resource-form-wrapper select,
.resource-form-wrapper textarea {
  display: block;
  width: 100%;
  margin-bottom: 0.5em;
  color: #333;
}

.resource-form-wrapper label {
  font-weight: bold;
}

.resource-form-wrapper input,
.resource-form-wrapper select,
.resource-form-wrapper textarea {
  padding: 0.5em;
  border: 1px solid #ccc;
}

.resource-form-wrapper input:focus,
.resource-form-wrapper select:focus,
.resource-form-wrapper textarea:focus {
  outline: none;
  border-color: #7eb5d6;
}

.resource-form-wrapper button[type="submit"] {
  display: block;
  margin: 20px auto 0;
  padding: 10px;
  background-color: #7eb5d6;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.resource-form-wrapper button[type="submit"]:hover {
  background-color: #60a3c1;
}

.resource-form textarea[name="description"] {
  height: 6em;
}

/* <------------------------ Main 3 Columns ------------------------> */

.main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1em;
  padding: 1em;
}

.main__column {
  background-color: #ffffff;
  padding: 1em;
  overflow-y: auto;
}

.main__column-title {
  margin-bottom: 0.5em;
}

h3 {
  display: flex;
  justify-content: space-between;
}

.main__column-title__text {
  padding: 0.3em;
  border-radius: 5px;
}
.main__column-title__text--todo {
  background-color: rgba(0, 150, 0, 0.5);
}

.main__column-title__text--inprogress {
  background-color: rgba(247, 216, 150, 0.572);
}

.main__column-title__text--completed {
  background-color: rgba(108, 184, 255, 0.566);
}

.main__column-title__taskcount {
background-color: transparent;
}
/* <------------------------ Task Cards/Containers ------------------------> */
.task__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 2px rgba(96, 90, 90, 0.582) solid;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 15%;
  overflow: hidden;
  padding: 10px;
  margin-bottom: 0.5em;
  position: relative;
}

.task__container:hover .task__delete-icon {
  display: block;
}

.task__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.3em;
}

.task__title {
  font-size: 1.05rem;
  font-weight: 600;
}

.task__priority {
  position: absolute;
  top: 3px;
  right: 5em;
  font-size: 0.8rem;
  font-weight: 600;
  color: #ff2d2d;
}

.task__description {
  font-size: 0.9rem;
  min-height: 63%;
  max-height: 63%;
  margin-bottom: 0.3em;
  /* border: 2px red solid; */
}

.task__delete-icon {
  position: absolute;
  top: 3px;
  right: 5px;
  display: none;
  font-size: 1.2rem;
}

.task__footer {
  display: flex;
  justify-content: flex-end;
}

.task__tags {
  font-size: 0.75rem;
  word-spacing: 4px;
}

.task__created-date {
  font-size: 0.75rem;
  color: #a1a1a1;
  word-spacing: -1px;
  position: absolute;
  bottom: 6px;
  left: 8px;
}
.task__delete-icon {
  cursor: pointer;
}

/* Urgent task style */
.task--urgent {
  border: 2px solid red;
}

/* High priority task style */
.task--high {
  border: 2px solid orange;
}

/* Low priority task style */
.task--low {
  border: 2px solid green;
}

/* Completed task style */
.task--completed {
  border: 2px solid blue;
}

/* <------------------------ Sort and Drag n Drop  ------------------------> */
.sortable-ghost {
  opacity: 0.4;
}

.sortable-chosen {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
}

.sortable-drag {
  cursor: move;
}

/* <--------------------- Additional Details Section ---------------------> */
.offcanvas {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 45%;
  background-color: #ffffff;
  border: 2px grey solid;
  transform: translateX(100%); /* Comment out */
  transition: transform 0.3s ease;
}

.offcanvas__body {
  padding: 16px;
}

.offcanvas__close-btn {
  position: absolute;
  top: 8px;
  left: 10px;
  background-color: transparent;
  border: none;
  font-size: 24px;
  color: #000000;
  cursor: pointer;
}

.project-form {
  display: flex;
  flex-direction: column;
}

.project-form__title {
  margin: 0 auto 1em auto;
  font-size: 2rem;
  width: 90%;
  text-align: center;
  outline: none;
}

.project-form__title:focus {
  box-shadow: 0 0 5px 2px rgba(0, 128, 255, 0.5);
}

.input-group {
  display: grid;
  grid-template-columns: 1fr 10fr;
  margin-bottom: 2rem;
}

.input-group__label {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  background-color: #e7e7e7;
  width: 4.5em;
  height: 2em;
  border-radius: 4px 0 0 4px;
}

input.form-control {
  border-radius: 0 4px 4px 0;
}

.form-select {
  padding: 0.5em;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 0 4px 4px 0;
  background-color: transparent;
}

.form-select:focus {
  box-shadow: 0 0 5px 2px rgba(0, 128, 255, 0.5);
  outline: none;
}

.form-control {
  height: 2em;
  width: 100%;
  font-size: 1.2rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding-left: 0.2em;
}

.form-control:focus {
  box-shadow: 0 0 5px 2px rgba(0, 128, 255, 0.5);
  outline: none;
}

.form-control::placeholder {
  font-size: 1rem;
  padding-left: 0.2em;
}

.project-form__floating {
  position: relative;
}

.project-form__floating textarea {
  height: 28em;
}

.project-form__floating label {
  position: absolute;
  top: 8px;
  left: 8px;
  font-size: 14px;
  font-weight: bold;
  color: #999;
}

.project-form__floating--actions {
  display: flex;
  justify-content: center;
}

.project-form__btn-save {
  margin-top: 0.5em;
  padding: 8px 16px;
  font-size: 1rem;
  border-radius: 4px;
  background-color: #007bff;
  color: #ffffff;
  border: none;
}

.project-form__btn-save:hover {
  background-color: #0056b3;
}
